<footer>

      <div class="footer">
          <div id="info">
            <p>@Copyrights reserved Codedial - 2022
            </p>
          </div>
          <div id="links">
               <li><a href="/">Home</a></li>

                <li>
                    <a href="/users/profile">Profile</a>
                </li>
          </div>
      </div>
  </footer>